<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ğ—Ÿink ğ—™inder</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
</head>

<body>
    <div class="main">
        <div class="box">
            <form action="/fetch" method="GET">
                <input type="url" name="url" value="https://www.eghamat24.com/" placeholder="Http://" autocomplete="off"
                    required>
                <input type="submit" value="Fetch">
            </form>
        </div>
    </div>
    <script src="/script.js"></script>
</body>

</html>